<nav class="flex justify-between items-center mt-2">
  <span class="text-xl handwriting-override select-none">
    <a class="extend-text-white">Kaan</a>
  </span>
  <div class="buttons-group"></div>
</nav>
